<form novalidate name='locationForm' class='location-form'>
	<p><span class='mandatory-label'>*</span>&nbsp;Fields are mandatory</p>
	<div class="form-group">
		<label for="category" class='m0'>Category&nbsp;<span class='mandatory-label'>*</span></label>
	    <select id="category" class="form-control" ng-required='true' ng-model="locationDtls.category" ng-options="option.label for option in categoryList" ng-change='categoryChanged(locationDtls.category)'><option value="">Category</option></select>
	</div>
	<div class="form-group" ng-if="removeLocation">
		<label for="removeloc" class='m0'>Remove Location&nbsp;<span class='mandatory-label'>*</span></label>
	    <select id="removeloc" class="form-control" ng-required='true' ng-model="locationDtls.removeloc" ng-options="option.label for option in locationDtls.removeLocations" ng-disabled='!locationDtls.removeLocations.length'><option value="">Remove Location</option></select>
	</div>
	<div ng-if="!removeLocation">
		<div class="form-group">
			<label for="latitude" class='m0'>Latitude&nbsp;<span class='mandatory-label'>*</span></label>
			<input type="number" class="form-control" ng-model='locationDtls.latitude' id="latitude" placeholder="Latitude" ng-required='true'>
		</div>
		<div class="form-group">
			<label for="longitude" class='m0'>Longitude&nbsp;<span class='mandatory-label'>*</span></label>
			<input type="number" class="form-control" id="longitude"  ng-model='locationDtls.longitude' placeholder="Longitude" ng-required='true'>
		</div>
		<div class="form-group">
			<label for="name" class='m0'>Name&nbsp;<span class='mandatory-label'>*</span></label>
			<input type="text" id="name" class="form-control" ng-model='locationDtls.name' placeholder="Name" ng-required='true'>
		</div>
		<div class="form-group">
			<label for="location" class='m0'>Location&nbsp;<span class='mandatory-label'>*</span></label>
			<input type="text" id="location" class="form-control" ng-model='locationDtls.location' placeholder="Location"  ng-required='true'>
		</div>
		<div class="form-group">
			<label for="desc" class='m0'>Description</label>
			<textarea class="form-control" rows="3" id='desc' ng-model='locationDtls.desc' placeholder="Description"></textarea>
		</div>
	</div>
	<div class='pull-right'>
		<button type="button" class="btn btn-warning" ng-click='closeForm()'>Cancel</button>
		<button type="button" class="btn btn-primary" ng-if="!removeLocation" ng-click='addLocation()' ng-disabled="locationForm.$error.required">Add location</button>
		<button type="button" class="btn btn-primary" ng-if="removeLocation" ng-click='removeLocationClicked()' ng-disabled="locationForm.$error.required">Remove location</button>
	</div>
</form>